@charset "utf-8";
/* CSS Document */
.header{margin-left:3%; width:100%; height:auto; background-color:;  margin-top:3%;}
.headerleft{width:45%; height:auto; background-color:; float:left;}
.headerright{ width:51%; height:auto; background-color:; float:right; margin-left:4%}
.main{width:100%; margin-left:3%; margin-right:3%; background-color:; height:auto; float:left; margin-top:4%}
.footer{width:100%; height:auto; float:left}
.footerleft{width:30%; height:auto; float:left}
.footercenter{width:20%; height:auto; float:left; margin-top:2%}
.footerright{width:50%; height:auto; float:right; margin-top:2%}